@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --accent-color: #ff8356;
  --fone-color: #fef9f9;

  --yellow: #ffc107;
  --white: #ffffff;
  --white-bg: #fdf7f2;

  --black: #111111;
  --medium-blue: #76bcf9;
  --blue: #54adff;
  --light-blue: #cce4fb;
  --green: #159638;
  --red: #f43f5e;
  --grey: #888888;

}

body {
  background-color: #777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 1s ease;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.topic-modal div{
  margin: 0 auto;
}
.cl-card{
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 35rem;
}

}

.topic-modal div > .ant-modal-content{
  background-color: #eee;
  height: 480px;
  width: 300px ;

  @media screen and (min-width: 768px) {
    width: 520px;
}
}

.ant-modal-footer {
  margin-top: auto;
}
.ant-modal-footer >.ant-btn{
  /* background-color: #ee0; */
  color: #333;
  border: 2px solid #777;
  width: 70px;
  
}

.topic-modal div > .ant-modal-content > .ant-modal-header,
 .ant-modal-title {
  background-color: #eee;
  
}

.ConfirmModal div > .ant-modal-content{
  background-color: #eee;
  height: 150px;
  width: 300px ;

  @media screen and (min-width: 768px) {
    width: 520px;
}
}

.ConfirmModal>div[tabindex='-1']{
  width: 300px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 520px;
}
} 

 .search_icon_btn{
  padding: 6px;
  border-radius: 6px;
  border: 2px solid transparent;
  display: none;

  @media screen and (min-width: 768px) {
      display: block;
  }
}

 .search_icon_btn:hover,
 .search_icon_btn:focus{
  border: 2px solid #999;

}

.ant-popover .ant-popover-inner {
  max-width: 500px;
  @media screen and (max-width: 767px) {
    max-width: 300px;

  }
  
}